{% extends 'yaruki_kkake/base.html' %}
{% load static %}

{% block user_name %}
<a class="nav-link active" aria-current="page" href="#">
    {{ user_name }}
</a>
{% endblock %}

{% block content %}
<div>
    <div>
        <p>
            enPiT7/29responの<br>
            課題が出てから
        </p>
        <form id="time_form" action="{% url 'doing' %}" method="GET">
            {% csrf_token %}
            <p id="time">
            </p>
            <input type="hidden" id="time_input" name="time" value="">
        </form>
    </div>
    <div>
        <p>
            ??人参加中！
        </p>
    </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <button form="time_form" id="start_button" type="submit" class="btn btn-primary">スタート</button>
</div>

<script>
    var start_time=new Date("2022-07-29 17:57:00");
    function update_time() {
        let diff = Date.now()-start_time;

        var hh = Math.floor(diff / 3600 / 1000);
        var mm = Math.floor(diff / 60 / 1000) - hh * 60;
        var ss = Math.floor(diff / 1000) - hh * 3600 - mm * 60;
        var ms = Math.floor(diff) - hh * 3600000 - mm * 60000 - ss * 1000;

        hh = String(hh).padStart(2, '0');
        mm = String(mm).padStart(2, '0');
        ss = String(ss).padStart(2, '0');
        ms = String(ms).padStart(3, '0');

        time_str = hh + ":" + mm + ":" + ss + "." + ms;

        $("#time").text(time_str);
        $("#time_input").val(time_str);
    }
    setInterval(update_time, 8);

    $("#subject1").addClass("active");
</script>
{% endblock %}