{% extends 'yaruki_kkake/base.html' %}
{% block content %}
<div>
    <div>
        <p>
            プログラミング基礎の<br>
            課題が出てから
        </p>
        <form id="time_form" action="{% url 'doing' %}" method="GET">
            {% csrf_token %}
            <p id="time">
            02:54:35
            </p>
            <input type="hidden" id="time_input" name="time" value="02:54:35">
        </form>
    </div>
    <div>
        <p>
            ??人参加中！
        </p>
    </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <button form="time_form" id="start_button" type="submit" class="btn btn-primary">スタート</button>
</div>

<script>
    function update_time() {
        let time_li = $("#time").text().split(":");

        var hh = parseInt(time_li[0]);
        var mm = parseInt(time_li[1]);
        var ss = parseInt(time_li[2]);
        ss += 1;

        if(ss >= 60) {
            mm += 1;
            ss = 0;
        }
        if(mm >= 60) {
            hh += 1;
            mm = 0;
        }

        hh = String(hh).padStart(2, '0');
        mm = String(mm).padStart(2, '0');
        ss = String(ss).padStart(2, '0');

        time_str = hh + ":" + mm + ":" + ss;

        $("#time").text(time_str);
        $("#time_input").val(time_str);
    }
    setInterval(update_time, 1000);

    $("#subject1").addClass("active");
</script>
{% endblock %}